:root {
    --bg-color-caldasu: #003B70;
    --bg-color-opacity: rgba(33, 47, 61, 0.7);
    --txt-color-gray: #D6D5DC;
    --txt-color-white: #FDFEFE;
}

body{
    background-color: rgb(221, 221, 221);
}
.section-chat{
    display: grid;
    grid-template-columns: 15% 85%;
    min-height: 88vh;
    background-color: aliceblue;
    ;
}
.list-chat{
    background-color: var(--bg-color-caldasu);
    color: #fff;
    padding: 2vw;
    font-size: 1.6vw;
}
.input-send{
    display: flex;
    justify-content: center;
    align-items: stretch;

}
.interation-msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.interation-msg .content-msg{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 2vw;
    background-color: aliceblue;
}
.msg1{
    color: #fff;
    border-radius: 10px;
    background-color: #ababab;
    padding: 1vw;
}
.msg2{
    text-align: right;
    border-radius: 10px;
    color: #fff;
    padding: 1vw;
    background-color: var(--bg-color-caldasu);
}

.input-send input{
    width: 70vw;
    color: var(--bg-color-caldasu);
    background-color: #807f7f87;
    padding: 0.5vw;
    font-size: 1.2vw;
    border-radius: 10px;

}
.btn-send{
    background-color: var(--bg-color-caldasu);
    color: #fff;
    padding: 0.5vw;
    font-size: 1vw;
    border-radius: 10px;
}
.content-msg{
    max-height: 80vh;
    overflow-y: scroll;
}
#newchat{
    width: 100%;
    border: 1px solid #fff;
    padding: 0.6vw 1vw;
    border-radius: 10px;
    font-size: 1vw;
}
#newchat:hover{
    background-color: #05559b;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.5s;
}
.active-chat{
    background-color: #ababab;
}
#result-chat>p{
    display: flex;
    justify-content: space-between;
    background-color: #00427b;
    padding: 0.6vw 1vw;
    margin: 0.4vw 0;
    border-radius: 10px;
    font-size: 1vw;
}
#result-chat>p:hover{
    background-color: #0863b3;
    transition: all 0.5s;
}

.active-btn-chat{
    background-color: #0863b3 !important;
}
#result-chat>p:active{
    background-color: #0863b3;
}
.title-u{
    color: #ffffff;
    text-shadow: 10px 5px 5px rgb(88, 88, 88);
}

.bg-img {
    background: url('http://localhost/chatgpt-api/public/media/och-ucaldas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-img-2 {
    background: url('http://localhost/chatgpt-api/public/media/programas-especiales.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.layer>div {
    background-color: var(--bg-color-opacity);
}

.layer-home {
    background-color: var(--bg-color-opacity);
    background-size: cover;
    height: 88.6vh;
    padding-top: 30px;
}

.txt-white {
    color: var(--txt-color-white);
}

.txt-gray {
    color: var(--txt-color-gray);
}


.bg-color-blue {
    background-color: var(--bg-color-caldasu);
}



.white-hover-effect:hover {
    color: var(--txt-color-white)
}

.center-items {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.hero-styles {
    background-color: rgba(33, 47, 61, 0.9);
    border-radius: 20px;
    border: 3px solid var(--bg-color-caldasu);
    color: var(--txt-color-gray);
    margin: 20px auto 0px auto;
    padding: 25px;
    width: 30%;
}
